@import url('https://fonts.googleapis.com/css?family=Poppins');

a,h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif;
}

.loginBody input[type="text"],.loginBody input[type="password"],.signupBody input[type="text"],.signupBody input[type="password"]{
	text-indent: 3%;
	height: 30px;
	width: 50%;
	border-radius: 20px;
	margin: 10px;
	border-style: solid;
	border-width:0.5px;
	border-color: grey;
	transition: width .35s ease-in-out,height .35s ease-in-out;
}
.loginBody button[type="submit"], .signupBody button[type="submit"]{
	height: 35px;
	width: 50%;
	border-radius: 1px;
	margin: 10px;
	background: #4CAF50;
	border-style: none;
	margin-top: 15%;
	color: white;
	margin-bottom: 5%;
	transition: width .35s ease-in-out,height .35s ease-in-out;
}

.signupBody button[type="submit"]{
	margin-top: 10%;
}

.loginBody input:focus, .signupBody input:focus {
	outline: none;
    height: 32px;
    width: 78%;
}
.loginBody button:focus, .loginBody button:hover, .signupBody button:focus, .signupBody button:hover {
	outline: none;
    height: 35px;
    width: 75%;
}

.login {
	background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.center{
  	width: 20%;
  	height: 40%;
  	border-radius: 10px;
  	margin: 0 auto;
	background: white;
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	border-radius: 3px;
  	padding: 20px 0;
  	-moz-box-shadow: 0px 0px 1000px rgba(0,0,0,.4);
	-webkit-box-shadow: 0px 0px 1000px rgba(0,0,0,.4);
	box-shadow: 0px 0px 1000px rgba(0,0,0,.4);
}

.loginBody, .signupBody {
	text-align: center;
	vertical-align: middle;

}

.loginBody form, .signupBody form{
	position: absolute;
  	margin: auto;
  	text-align: center;
  	width: 100%;
	bottom: 0%!important;

}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login, .signup, .mainBody {
	font-family: 'Poppins', sans-serif;
  	background: rgb(162, 75, 207);
	background: linear-gradient(270deg, #a24bcf, #4b79cf, #4bc5cf);
	background-size: 600% 600%;

	-webkit-animation: backgroundGradient 25s ease infinite;
	-moz-animation: backgroundGradient 25s ease infinite;
	-o-animation: backgroundGradient 25s ease infinite;
	animation: backgroundGradient 25s ease infinite;
}



@-webkit-keyframes backgroundGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes backgroundGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes backgroundGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes backgroundGradient { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.modal-body b{
	color: indianred;
}


.mainbody {
	margin: 0;
	min-width: 250px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}
.mainBody * {
	box-sizing: border-box;
}
.mainBody ul {
	margin: 0;
	padding: 0;
}
.mainBody ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	list-style-type: none;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: height 1s ease-in-out;
}
.mainBody ul li:nth-child(odd) {
	background: #f9f9f9;
}
.mainBody ul li:hover {
	background: #ddd;
}
.mainBody ul li.checked {
	background: #888;
	color: #fff;
	text-decoration: line-through;
}
.mainBody ul li.checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}
.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
}
.close:hover {
	background-color: #f44336;
	color: white;
}
.header {
	background-color: #f44336;
	padding: 30px 40px;
	color: white;
	text-align: center;
}
.header:after {
	content: "";
	display: table;
	clear: both;
}
.mainBody input {
	margin: 0;
	border: none;
	border-radius: 0;
	width: 50%;
	padding: 10px;
	float: left;
	font-size: 21.25px;
}
.addBtn {
	padding: 10px;
	width: 25%;
	background: #d9d9d9;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0;
}
.addBtn:hover {
	background-color: #bbb;
}

.changeSort {
	padding: 13.24px;
	width: 25%;
	background: #efeded;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0;
	border:none
}
.changeSort:hover {
	background-color: #bbb;
}

.main {
	width: 35%;
  	height: 500px;
  	border-radius: 10px;
  	margin: 0 auto;
	background: white;
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 15%;
  	bottom:5%;
  	left: 15%;
  	border-radius: 3px;
  	padding: 20px 0;
  	padding-top: 0px;
}
